name: Build and push fresh image
permissions:
  contents: read
  packages: write
on:
  workflow_dispatch:
  push:
    branches:
      - master
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y%m%d')"
      
    - name: 'Checkout code'
      uses: actions/checkout@main

    - name: 'Login to GitHub container registry'
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{github.actor}}
        password: ${{secrets.GITHUB_TOKEN}}

    - name: 'Build and push'
      run: |
        docker build -t ghcr.io/tabithamoon/resonite-headless:latest -t ghcr.io/tabithamoon/resonite-headless:${{ steps.date.outputs.date }} .
        docker push ghcr.io/tabithamoon/resonite-headless:latest
        docker push ghcr.io/tabithamoon/resonite-headless:${{ steps.date.outputs.date }}
